@page "/trainer"
@using GraphQlTest.Client.GraphQlClient
@inject PokemonClient PokemonClient

<PageTitle>Trainer</PageTitle>

<h1>List of Trainers</h1>

<ul>
@* TODO: List Trainers *@
</ul>

@code {

}